HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/out/artifacts/checkinterface_jar/arquivos.zip
/out/artifacts/checkinterface_jar/checkinterface_jar.lnk
/out/artifacts/checkinterface_jar/modigicações/CheckInterface_PacoteParaDeploy1.zip
/out/artifacts/checkinterface_jar/modigicações/CheckInterface_PacoteParaDeploy2-com instalar e desinstalar.zip
/out/artifacts/checkinterface_jar/Output/CheckInterfaceInstaller.zip
/out/artifacts/checkinterface_jar/modigicações/CheckInterfaceInstaller-iss.zip
